@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-space-grotesk), system-ui, -apple-system, sans-serif;
  font-size: 1.15rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-base {
    font-size: 1.15rem !important;
    line-height: 1.725rem !important;
  }
}
